.Etiqueta {
  font-variant: small-caps;
  padding: 4px 7px 6px 7px;
}

.EtiquetaTipo {
  @extend .Etiqueta;
}

.EtiquetaEstado {
  @extend .Etiqueta;
}

.EtiquetaFlag {
  @extend .Etiqueta;
  padding: 4px 7px 4px 7px;
}
